<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.berkat.kitchenstoryowner">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitchenStoryOwner">
        <activity
            android:name=".view.addfood.AddFoodActivity"
            android:exported="true" />
        <activity
            android:name=".view.addcategory.AddCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.profilekitchen.ProfileKitchenActivity"
            android:exported="true" />
        <activity
            android:name=".view.addmenu.AddMenuActivity"
            android:exported="true" />
        <activity
            android:name=".view.jamoperasional.JamOperasionalActivity"
            android:exported="true" />
        <activity
            android:name=".view.informasirekening.InformasiRekeningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.identitaspemilik.IdentitasPemilikActivity"
            android:exported="true" />
        <activity
            android:name=".view.activekitchen.ActiveKitchenActivity"
            android:exported="true" />
        <activity
            android:name=".view.syaratdanketentuan.SyaratDanKetentuanActivity"
            android:exported="true" />
        <activity
            android:name=".view.datausaha.DataUsahaActivity"
            android:exported="true" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>